body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f0c29,#302b63,#ff416c);
color:white;
text-align:center;
}

.app{
padding:15px;
max-width:420px;
margin:auto;
}

.card{
background:rgba(255,255,255,0.08);
padding:15px;
margin:12px 0;
border-radius:15px;
backdrop-filter:blur(10px);
}

input{
width:90%;
padding:10px;
margin:5px;
border:none;
border-radius:10px;
}

button{
padding:10px;
width:95%;
border:none;
border-radius:10px;
background:white;
font-weight:bold;
margin-top:5px;
}

#log{
text-align:left;
font-size:13px;
opacity:0.9;
}
